{#
/**
 * @file
 * Contains the text of the field_permission_example explanation/description page
 *
 * Available variables:
 * - form: the signature form.
 * - expire: the expiration date
 */
#}

<div id='sign_for_acknowledgement_checkbox'>
{{form}}
</div>
{% if expire != '---' %}
<div><em>
{% trans %}Note: you can sign up to{% endtrans %}: {{expire}}
</em></div>
{% endif %}
